<tr>
    <td class="wrapper">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <p>Hi {{{ name }}},</p>
                    <p>
                        We're sending you this confirmation code because you are
                        trying to log in.
                    </p>
                    <table
                        role="presentation"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        class="btn btn-primary"
                        style="margin: 30px 0"
                    >
                        <tr>
                            <td align="center">
                                <p
                                    style="
                                        font-size: 18px;
                                        font-weight: bold;
                                        margin-bottom: 15px;
                                    "
                                >
                                    Your confirmation code is:
                                </p>
                                <div
                                    style="
                                        background-color: #f0f0f0;
                                        border-radius: 10px;
                                        padding: 20px;
                                        font-size: 36px;
                                        font-weight: bold;
                                        letter-spacing: 5px;
                                        color: #333;
                                        margin-bottom: 20px;
                                    "
                                >
                                    {{{ confirmation_code }}}
                                </div>
                            </td>
                        </tr>
                    </table>
                    <p>
                        Please enter this code to complete the login process.
                        This code will expire in 1 hour.
                    </p>
                    <p>
                        If you didn't request this code, please ignore this
                        email or contact our support team if you have any
                        concerns.
                    </p>
                    <p>Many thanks</p>
                </td>
            </tr>
        </table>
    </td>
</tr>
